body {
	padding: 10px;
	font-size: 16px;
    font-family: monospace;
    margin-left: 40px;
    background-color: silver;
}


body p {
	line-height: 1.5;
	padding-left: 15px;
}

h1 {
	padding: 15px;
	max-width: 300px;
	background-color: white;
	color: pink;
}